@keyframes grow {
  0% {
    transform: scale(1.05);
  }
  25% {
    transform: rotate(5deg);
  }
  50% {
    transform: scale(1);
  }
  75% {
    transform: rotate(-5deg);
  }
  100% {
    transform: scale(1.05);
  }
}

.presentContainer {
  display: flex;
  width: min(90%, 900px);
  margin: 0 auto;
  pointer-events: auto;
}

.present1,
.present2,
.present3 {
  position: relative;
  pointer-events: auto;
}

.present1 {
  margin-left: 270px;
}

.present2 {
  margin-left: 90px;
}

.present3 {
  margin-left: 20px;
  animation-name: grow;
  animation-duration: 3s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
  z-index: 3;
}
