.main {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding: 6rem;
  max-height: 100vh;
  background-color: #0b1a5e;
  overflow: hidden;
  height: 100%;
}

.snow {
  background: white;
  position: absolute;
  width: 100%;
  height: 12%;
  bottom: 0%;
  z-index: 1;
}

.treeContainer {
  position: relative;
  width: 600px;
  height: 600px;
  margin: auto;
  margin-top: -60px;
  border-radius: 100px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.treeTriangle3 {
  position: absolute;
  width: 66%;
  height: 44%;
  bottom: 30%;
  /* left: 3.5%; */
  background: #034f33;
  clip-path: polygon(50% 0%, 0% 100%, 100% 100%);
  z-index: 3;
  display: flex;
  align-items: center;
  justify-content: center;
}

.treeTriangle2 {
  position: absolute;
  width: 53%;
  height: 41%;
  bottom: 45%;
  /* left: 10%; */
  clip-path: polygon(50% 0%, 0% 100%, 100% 100%);
  background: #046944;
  z-index: 4;
  display: flex;
  align-items: center;
  justify-content: center;
}

.treeTriangle1 {
  position: absolute;
  width: 42%;
  height: 33%;
  bottom: 60%;
  /* left: 15.5%; */
  background: #038052;
  clip-path: polygon(50% 0%, 0% 100%, 100% 100%);
  z-index: 5;
  display: flex;
  align-items: center;
  justify-content: center;
}

.trunk {
  position: absolute;
  width: 10%;
  height: 30%;
  background: #5c4033;
  z-index: 1;
  bottom: 5%;
  /* left: 50%; */
  display: flex;
  align-items: center;
  justify-content: center;
}

.star {
  position: absolute;
  width: 28%;
  height: 25%;
  background: #e8b923;
  clip-path: polygon(
    50% 0%,
    61% 35%,
    98% 35%,
    68% 57%,
    79% 91%,
    50% 70%,
    21% 91%,
    32% 57%,
    2% 35%,
    39% 35%
  );
  /* left: 26.5%; */
  top: 1%;
  z-index: 6;
  display: flex;
  align-items: center;
  justify-content: center;
}

.starHighlight {
  position: absolute;
  width: 28%;
  height: 25%;
  background: #fff1bf;
  clip-path: polygon(
    50% 0%,
    61% 35%,
    98% 35%,
    68% 57%,
    79% 91%,
    50% 70%,
    50% 70%,
    50% 60%,
    50% 46%,
    50% 36%
  );
  top: 1%;
  z-index: 8;
}

.starLight {
  position: absolute;
  width: 18%;
  height: 18%;
  background: #fff1bf;
  filter: opacity(0.7);
  border-radius: 50%;
  top: 6%;
  z-index: 3;
  animation: star 3s ease-in-out infinite;
}

.ornament {
  position: absolute;
  width: 10%;
  height: 10%;
  border-radius: 50%;
  box-shadow: 0 0 3px #033b26;
  z-index: 4;
}

.shine {
  position: absolute;
  width: 55%;
  height: 55%;
  top: 10%;
  right: 11%;
  border-radius: 50%;
  background: white;
  filter: opacity(60%);
}

.or1 {
  left: 41%;
  top: 24%;
  background: #0742d9;
  z-index: 8;
}

.or2 {
  left: 53%;
  top: 35%;
  background: #c91212;
  z-index: 8;
}
.or3 {
  left: 33%;
  top: 39%;
  background: #dbb700;
  z-index: 8;
}
.or4 {
  left: 47%;
  top: 52%;
  background: #0742d9;
  z-index: 8;
}
.or5 {
  left: 63%;
  top: 59%;
  background: #dbb700;
  z-index: 8;
}
.or6 {
  left: 28%;
  top: 58%;
  background: #c91212;
  z-index: 8;
}
