.app {
  text-align: center;
  width: 100%;
}

.thanksgiving {
  background-color: #dc4d01;
}

.christmasEve {
  background-color: #00873e;
}

.christmas {
  background-color: #c30f16;
}

.appHeader {
  min-height: 100vh;
  margin-right: 50px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: 2em;
  color: white;
}
