.peppermintStick {
  width: 800px;
  height: 60px;
  border-radius: 30px;
  border: 1px solid white;
  background: linear-gradient(
    45deg,
    #ff0000 11px,
    #ff0000 14.5px,
    #ffffff 14.5px,
    #ffffff 17px,
    #ff0000 17px,
    #ff0000 20px,
    #ffffff 20px,
    #ffffff 23px,
    #ff0000 23px,
    #ff0000 26.5px,
    #ffffff 26.5px,
    #ffffff 29px,
    #ff0000 29px,
    #ff0000 32px,
    #ffffff 32px,
    #ffffff 35px,
    #ff0000 35px,
    #ff0000 38.5px,
    #ffffff 38.5px,
    #ffffff 41px,
    #ff0000 41px,
    #ff0000 44px,
    #ffffff 44px,
    #ffffff 47px,
    #ff0000 47px,
    #ff0000 50.5px,
    #ffffff 50.5px,
    #ffffff 53px,
    #ff0000 53px,
    #ff0000 56px,
    #ffffff 56px,
    #ffffff 59px,
    #ff0000 59px,
    #ff0000 62.5px,
    #ffffff 62.5px,
    #ffffff 65px,
    #ff0000 65px,
    #ff0000 68px,
    #ffffff 68px,
    #ffffff 71px,
    #ff0000 71px,
    #ff0000 74.5px,
    #ffffff 74.5px,
    #ffffff 77px,
    #ff0000 77px,
    #ff0000 80px,
    #ffffff 80px,
    #ffffff 83px,
    #ff0000 83px,
    #ff0000 86.5px,
    #ffffff 86.5px,
    #ffffff 89px,
    #ff0000 89px,
    #ff0000 92px,
    #ffffff 92px,
    #ffffff 95px,
    #ff0000 95px,
    #ff0000 98.5px,
    #ffffff 98.5px,
    #ffffff 101px,
    #ff0000 101px,
    #ff0000 104px,
    #ffffff 104px,
    #ffffff 107px,
    #ff0000 107px,
    #ff0000 110.5px,
    #ffffff 110.5px,
    #ffffff 113px,
    #ff0000 113px,
    #ff0000 116px,
    #ffffff 116px,
    #ffffff 119px,
    #ff0000 119px,
    #ff0000 122.5px,
    #ffffff 122.5px,
    #ffffff 125px,
    #ff0000 125px,
    #ff0000 128px,
    #ffffff 128px,
    #ffffff 131px,
    #ff0000 131px,
    #ff0000 134.5px,
    #ffffff 134.5px,
    #ffffff 137px,
    #ff0000 137px,
    #ff0000 140px,
    #ffffff 140px,
    #ffffff 143px,
    #ff0000 143px,
    #ff0000 146.5px,
    #ffffff 146.5px,
    #ffffff 149px,
    #ff0000 149px,
    #ff0000 152px,
    #ffffff 152px,
    #ffffff 155px,
    #ff0000 155px,
    #ff0000 158.5px,
    #ffffff 158.5px,
    #ffffff 161px,
    #ff0000 161px,
    #ff0000 164px,
    #ffffff 164px,
    #ffffff 167px,
    #ff0000 167px,
    #ff0000 170.5px,
    #ffffff 170.5px,
    #ffffff 173px,
    #ff0000 173px,
    #ff0000 176px,
    #ffffff 176px,
    #ffffff 179px,
    #ff0000 179px,
    #ff0000 182.5px,
    #ffffff 182.5px,
    #ffffff 185px,
    #ff0000 185px,
    #ff0000 188px,
    #ffffff 188px,
    #ffffff 191px,
    #ff0000 191px,
    #ff0000 194.5px,
    #ffffff 194.5px,
    #ffffff 197px,
    #ff0000 197px,
    #ff0000 200px,
    #ffffff 200px,
    #ffffff 203px,
    #ff0000 203px,
    #ff0000 206.5px,
    #ffffff 206.5px,
    #ffffff 209px,
    #ff0000 209px,
    #ff0000 212px,
    #ffffff 212px,
    #ffffff 215px,
    #ff0000 215px,
    #ff0000 218.5px,
    #ffffff 218.5px,
    #ffffff 221px,
    #ff0000 221px,
    #ff0000 224px,
    #ffffff 224px,
    #ffffff 227px,
    #ff0000 227px,
    #ff0000 230.5px,
    #ffffff 230.5px,
    #ffffff 233px,
    #ff0000 233px,
    #ff0000 236px,
    #ffffff 236px,
    #ffffff 239px,
    #ff0000 239px,
    #ff0000 242.5px,
    #ffffff 242.5px,
    #ffffff 245px,
    #ff0000 245px,
    #ff0000 248px,
    #ffffff 248px,
    #ffffff 251px,
    #ff0000 251px,
    #ff0000 254.5px,
    #ffffff 254.5px,
    #ffffff 257px,
    #ff0000 257px,
    #ff0000 260px,
    #ffffff 260px,
    #ffffff 263px,
    #ff0000 263px,
    #ff0000 266.5px,
    #ffffff 266.5px,
    #ffffff 269px,
    #ff0000 269px,
    #ff0000 272px,
    #ffffff 272px,
    #ffffff 275px,
    #ff0000 275px,
    #ff0000 278.5px,
    #ffffff 278.5px,
    #ffffff 281px,
    #ff0000 281px,
    #ff0000 284px,
    #ffffff 284px,
    #ffffff 287px,
    #ff0000 287px,
    #ff0000 290.5px,
    #ffffff 290.5px,
    #ffffff 293px,
    #ff0000 293px,
    #ff0000 296px,
    #ffffff 296px,
    #ffffff 299px,
    #ff0000 299px,
    #ff0000 302.5px,
    #ffffff 302.5px,
    #ffffff 305px,
    #ff0000 305px,
    #ff0000 308px,
    #ffffff 308px,
    #ffffff 311px,
    #ff0000 311px,
    #ff0000 314.5px,
    #ffffff 314.5px,
    #ffffff 317px,
    #ff0000 317px,
    #ff0000 320px,
    #ffffff 320px,
    #ffffff 323px,
    #ff0000 323px,
    #ff0000 326.5px,
    #ffffff 326.5px,
    #ffffff 329px,
    #ff0000 329px,
    #ff0000 332px,
    #ffffff 332px,
    #ffffff 335px,
    #ff0000 335px,
    #ff0000 338.5px,
    #ffffff 338.5px,
    #ffffff 341px,
    #ff0000 341px,
    #ff0000 344px,
    #ffffff 344px,
    #ffffff 347px,
    #ff0000 347px,
    #ff0000 350.5px,
    #ffffff 350.5px,
    #ffffff 353px,
    #ff0000 353px,
    #ff0000 356px,
    #ffffff 356px,
    #ffffff 359px,
    #ff0000 359px,
    #ff0000 362.5px,
    #ffffff 362.5px,
    #ffffff 365px,
    #ff0000 365px,
    #ff0000 368px,
    #ffffff 368px,
    #ffffff 371px,
    #ff0000 371px,
    #ff0000 374.5px,
    #ffffff 374.5px,
    #ffffff 377px,
    #ff0000 377px,
    #ff0000 380px,
    #ffffff 380px,
    #ffffff 383px,
    #ff0000 383px,
    #ff0000 386.5px,
    #ffffff 386.5px,
    #ffffff 389px,
    #ff0000 389px,
    #ff0000 392px,
    #ffffff 392px,
    #ffffff 395px,
    #ff0000 395px,
    #ff0000 398.5px,
    #ffffff 398.5px,
    #ffffff 401px,
    #ff0000 401px,
    #ff0000 404px,
    #ffffff 404px,
    #ffffff 407px,
    #ff0000 407px,
    #ff0000 410.5px,
    #ffffff 410.5px,
    #ffffff 413px,
    #ff0000 413px,
    #ff0000 416px,
    #ffffff 416px,
    #ffffff 419px,
    #ff0000 419px,
    #ff0000 422.5px,
    #ffffff 422.5px,
    #ffffff 425px,
    #ff0000 425px,
    #ff0000 428px,
    #ffffff 428px,
    #ffffff 431px,
    #ff0000 431px,
    #ff0000 434.5px,
    #ffffff 434.5px,
    #ffffff 437px,
    #ff0000 437px,
    #ff0000 440px,
    #ffffff 440px,
    #ffffff 443px,
    #ff0000 443px,
    #ff0000 446.5px,
    #ffffff 446.5px,
    #ffffff 449px,
    #ff0000 449px,
    #ff0000 452px,
    #ffffff 452px,
    #ffffff 455px,
    #ff0000 455px,
    #ff0000 458.5px,
    #ffffff 458.5px,
    #ffffff 461px,
    #ff0000 461px,
    #ff0000 464px,
    #ffffff 464px,
    #ffffff 467px,
    #ff0000 467px,
    #ff0000 470.5px,
    #ffffff 470.5px,
    #ffffff 473px,
    #ff0000 473px,
    #ff0000 476px,
    #ffffff 476px,
    #ffffff 479px,
    #ff0000 479px,
    #ff0000 482.5px,
    #ffffff 482.5px,
    #ffffff 485px,
    #ff0000 485px,
    #ff0000 488px,
    #ffffff 488px,
    #ffffff 491px,
    #ff0000 491px,
    #ff0000 494.5px,
    #ffffff 494.5px,
    #ffffff 497px,
    #ff0000 497px,
    #ff0000 500px,
    #ffffff 500px,
    #ffffff 503px,
    #ff0000 503px,
    #ff0000 506.5px,
    #ffffff 506.5px,
    #ffffff 509px,
    #ff0000 509px,
    #ff0000 512px,
    #ffffff 512px,
    #ffffff 515px,
    #ff0000 515px,
    #ff0000 518.5px,
    #ffffff 518.5px,
    #ffffff 521px,
    #ff0000 521px,
    #ff0000 524px,
    #ffffff 524px,
    #ffffff 527px,
    #ff0000 527px,
    #ff0000 530.5px,
    #ffffff 530.5px,
    #ffffff 533px,
    #ff0000 533px,
    #ff0000 536px,
    #ffffff 536px,
    #ffffff 539px,
    #ff0000 539px,
    #ff0000 542.5px,
    #ffffff 542.5px,
    #ffffff 545px,
    #ff0000 545px,
    #ff0000 548px,
    #ffffff 548px,
    #ffffff 551px,
    #ff0000 551px,
    #ff0000 554.5px,
    #ffffff 554.5px,
    #ffffff 557px,
    #ff0000 557px,
    #ff0000 560px,
    #ffffff 560px,
    #ffffff 563px,
    #ff0000 563px,
    #ff0000 566.5px,
    #ffffff 566.5px,
    #ffffff 569px,
    #ff0000 569px,
    #ff0000 572px,
    #ffffff 572px,
    #ffffff 575px,
    #ff0000 575px,
    #ff0000 578.5px,
    #ffffff 578.5px,
    #ffffff 581px,
    #ff0000 581px,
    #ff0000 584px,
    #ffffff 584px,
    #ffffff 587px,
    #ff0000 587px,
    #ff0000 590.5px,
    #ffffff 590.5px,
    #ffffff 593px,
    #ff0000 593px,
    #ff0000 596px
  );
}
